*{
    margin: 0;
    padding: 0;
}

.function{
    margin-top: 100px;
}

img{
    height: 350px;
    transition: all .2s ease-in-out; 

}
hover{
    width: 360px;
}

img:hover{
    background-image: "../../assets/yugioh.png";
    transform: scale(1.1); 
    /* width: 400px; */
}


 


