/* body{
    background-image: url('https://i.pinimg.com/originals/f4/11/25/f41125352f3a4a99f6bb64320c0efc68.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} */